body{
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 1px;
word-spacing: 1px;
color: #52B2FF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}